*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    margin: auto;
    padding: 16px;
    height: 100svh;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: linear-gradient(-220.55deg, #aea5ef 0%, #6f30ef 100%);
    justify-content: center;
}

.surface {
    background-color: rgba(255, 255, 255, 1);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 24px;
}
h1 {
    text-align: center;
    font-size: 32px;
    flex-grow: 1;
}
.spacer,
.help-btn {
    aspect-ratio: 1;
    height: 42px;
}
.help-btn {
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 50%;
    font-size: 28px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.score-area {
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    gap: 16px;
}

.player-card,
.cpu-card {
    width: 140px;
    padding: 24px;
    text-align: center;
    border-radius: 16px;
    flex-grow: 1;
}
.player-card p,
.cpu-card p {
    font-weight: bold;
    font-size: 20px
}
.player-score,
.cpu-score {
    padding: 8px;
    font-size: 24px;
}
.player-card {
}
.cpu-card {
}

.round-container {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    border-radius: 16px;
    padding: 24px;
}

.round-display {
    display: flex;
    justify-content: space-around;
}

.player-choice,
.cpu-choice {
    width: 45%;
    text-align: center;
}
.player-label,
.cpu-label {
    font-size: 24px;
    font-weight: bold;
}

.round-result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.round-result.success {
    color: #529452;
}
.round-result.failure {
    color: #ff4433;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
}

.option {
    border-radius: 16px;
    aspect-ratio: 1;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    flex-grow: 1;
}

.round-display img,
.option img {
    width: 100%;
    padding: 30%;
}

dialog {
    margin: auto;
    font-size: 18px;
}
dialog button {
    position: absolute;
    right: 12px;
    top: 12px;
    display: block;
}
dialog button img {
    height: 20px;
    padding: 0;
}

dialog section {
    padding: 24px 48px;
}

h2 {
    margin-top: 16px;
}
dialog li {
    list-style-position: inside;
    line-height: 2;
}
dialog img {
    display: inline-block;
    vertical-align: middle;
}

dialog div {
    margin-top: 24px;
    text-align: center;
}
